:root {
    --primary-bg: #f4f4f4;
    --secondary-bg: #000;
    --tertiary-bg: #fff;
    --primary-text: #000; 
    --secondary-text: #fff;
}

.brand{
    background-color: var(--primary-bg);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 1.5rem;
}
.shoe_Image{
    width: 1280px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.shoe{
    width: 40px;
    aspect-ratio: 1/1;
    object-fit: contain;
    margin: 0.5rem;
}