:root {
    --primary-bg: #f4f4f4;
    --secondary-bg: #000;
    --tertiary-bg: #fff;
    --primary-text: #000; 
    --secondary-text: #fff;
}

.model{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.content{
    height: auto;
    display: flex;
    flex-direction: column;
}

.card{
    width: 100%;  
}

.image{
    width: 100%;
}

.title{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.button{
    width: 100%;
    color: var(--secondary-text);
    background-color: var(--secondary-bg);
    padding: 0.6rem 0;
    margin-bottom: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}


@media screen and (min-width: 768px){
    .content{
        width: 1280px;
        flex-direction: row;
        justify-content: space-between;
    }

    .button{
        width: 40%;
        padding: 0.6rem 0;
    }
}
