:root {
    --primary-bg: #f4f4f4;
    --secondary-bg: #000;
    --tertiary-bg: #fff;
    --primary-text: #000; 
    --secondary-text: #fff;
}

.hero{
    background: url('/src/assets/hero-bg.svg') no-repeat center/cover;
    background-color: var(--primary-bg);
    display: flex;
    width: 100%;
    min-height: 500px;
    justify-content: center;
    padding: 0 1.5rem;
    align-items: center;
}

.content{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.text{
    width: 340px;
}

.title{
    font-size: 1.7rem;
    line-height: 1.8rem;
    color: var(--secondary-text);  
}

.typing{
    display: flex;
    line-height: 1.8rem;
}


.btn{
    color: var(--secondary-text);
    background: none;
    border: 1px solid var(--tertiary-bg);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
}


.btn:hover{
    color: var(--primary-text);
    background-color: var(--tertiary-bg);
}
.hero_image{
    width: 400px;
}
.image{
    width: 100%;
}

@media screen and (min-width: 768px){
    .content{
        width: 1280px;
    }
    .title{
        color: var(--secondary-text);
        font-size: 1.8rem;
    }
    .hero_image{
        width: 500px;
    }
}

