:root {
    --primary-bg: #f4f4f4;
    --secondary-bg: #000;
    --tertiary-bg: #fff;
    --primary-text: #000; 
    --secondary-text: #fff;
}

.shoes{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1.5rem 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-bg);
}

.content{
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: var(--tertiary-bg);
}

.image{
    width: 100%;
    aspect-ratio: 2/2;
    object-fit: contain;
}

.title{
    width: 100%;
    background-color: var(--tertiary-bg);
  
    margin-bottom: 2rem;
    text-align: center;
    padding-bottom: 0.5rem;
}

@media screen and (min-width: 768px){
    .shoes{
        padding: 1.5rem 5rem;
    }
    .image{
        width: 100%;
        aspect-ratio: 10/7;
    }
    .title{
        margin-top: -2rem;
    }
}