.main{
    padding: 15px 0;
    background: #f7dd95;
}
.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
}

.hero_text{
    border: 1px solid red;
}

.hero_image{
    border: 1px solid red;
}

.vans, img{
    height: 200px;
}