.header{
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f4f4f4;
}

.h1{
    font-size: 1.5rem;
    color: #fff;
    padding: 5px 10px;
    background-color: #000;
    border-radius: 10px 10px 0 10px;
    cursor: pointer;
}

.h1:hover{
    color:#000;
    font-size: 1.5rem;
    padding: 4px 9px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px 10px 0 10px;
    cursor: pointer;
}

.nav{
    display: flex;
}

.ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
}

.ul li{
    cursor: pointer;
}

.access{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 20px;
}

.search_input{
    display: flex;
    align-items: center;
    padding: 2px 5px;
    border: 1px solid #000;
    border-radius: 10px;
}

input {
    border: none;
    padding: 2px 5px;
    background: #f4f4f4;
}

input:focus{
    outline: none;
}

.search_icon{
    cursor: pointer;
}


.cart_icon{
    font-size: 1.3rem;
    cursor: pointer;
}

.user_icon{
    font-size: 1.3rem;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .nav {
      visibility: hidden;
    }
  }
