:root {
    --primary-bg: #f4f4f4;
    --secondary-bg: #000;
    --tertiary-bg: #fff;
    --primary-text: #000; 
    --secondary-text: #fff;
}

.footer{
    width: 100%;
    height: auto;
    padding: 1rem 1.5rem;
    background-color: var(--secondary-bg);
}

.content{
    width: 100%;
    max-width: 1280px;
    min-height: 200px;
    margin: auto;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.section{
    width: 100%;
}

.section p{
    color: var(--secondary-text);
}
.about{
    width: 200px;
    margin: auto;
}

.logo{
    font-size: 1rem;
    color: var(--secondary-text);
    padding: 5px 10px;
    background-color: var(--secondary-bg);
    border: 1px solid var(--primary-bg);
    border-radius: 10px 10px 0 10px;
    cursor: pointer;
    z-index: 9999;
}

.logo:hover{
    color: var(--primary-text);
    padding: 4px 9px;
    background-color: var(--tertiary-bg);
    border: 1px solid var(--secondary-bg);
    border-radius: 10px 10px 0 10px;
    cursor: pointer;
}

.menu{
    color: var(--tertiary-bg);
    text-align: center;
    padding: 0.5rem 0;
}


@media screen and (min-width: 620px){
    .content{
        flex-direction: row;
    }

    .section{
        width: 32%;
       
    }

}
